body {
    padding: 15px;
    max-width: 100dvw;
    max-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #E4C3AD;
}

body div {
    width: 100%;
}

select {
    max-width: 15vw;
}
